:root {
	--letter-empty-fg-color: white;
	--letter-empty-bg-color: white;
	--letter-tbd-fg-color: black;
	--letter-tbd-bg-color: #d3d6da;
	--letter-present-fg-color: black;
	--letter-present-bg-color: #c9b458;
	--letter-correct-fg-color: black;
	--letter-correct-bg-color: #6aaa64;
	--letter-absent-fg-color: black;
	--letter-absent-bg-color: #787c7e;
}

@keyframes vibrate {
	0% { transform: translate(0, 0); }
	25% { transform: translate(0, -5px); }
	50% { transform: translate(0, 5px); }
	75% { transform: translate(0, -5px); }
	100% { transform: translate(0, 5px); }
}

div[animation_key="wrong_word"] {
	animation: vibrate 0.5s linear 0s 1 alternate;
}

.Win {
	color: #6aaa64;
}

.Lose {
	color: red;
}

.App-module_game {
	max-width: 500px;
	max-height: 700px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.form_button {
	border: 0;
	padding: 0;
	margin: 0;
}

button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}

.generic_button {
	border: 0;
	padding: 0;
	margin: 0;
	font-family: "nyt-franklin";
	font-size: larger;
	font-weight: bold;
	border: 0;
	padding: 0 5px;
	margin: 0 6px 0 0;
	height: 50px;
	border-radius: 4px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	-webkit-tap-highlight-color: rgba(0,0,0,.3);
	text-decoration: none;
	background-color: var(--letter-tbd-bg-color);
	color: black;
}