{% set word_is_complete = status.last_word_complete() %}
<div class="Board-module_boardContainer">
    <div class="Board-module_board">
        {% for i in range(status.num_rows) %}
        {% set curr_word = (i == status.curr_row) %}
        <div class="Row-module_row" aria-label="Row {{ i + 1 }}">
            {% for j in range(status.num_columns) %}
            {% if curr_word and word_is_complete and not(word_in_list) %}
            <div class="Tile-module_tile" aria-label="Tile {{ j }}" data-testid="tile" data-state="{{ status.grid_letters_status[i][j].value }}" animation_key = "wrong_word" style="animation-delay: {{ 0.1 * j }}s">
            {% else %}
            <div class="Tile-module_tile" aria-label="Tile {{ j }}" data-testid="tile" data-state="{{ status.grid_letters_status[i][j].value }}">
            {% endif %}
                {% if status.grid_letters[i][j] is none %}
                    ''
                {% else %}
                    {{ status.grid_letters[i][j] }}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>