<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/overlay.css') }}" rel="stylesheet">
</head>
<body>
    <div class="App">
        <header class="AppHeader-module_appHeader wordle-app-header">
            <div id="header_start"> </div>
            <h1 id="header_middle" class="AppHeader-module_title">Wordle</h1>
            <div id="header_end" class="AppHeader-module_login">
                {% if user is none %}
                    <a id="login_button" class="Keyboard-module_key" data-state="tbd" href="#login_popup">Login</a>
                    <a id="register_button" class="Keyboard-module_key" data-state="tbd" href="#register_popup">Register</a>
                {% else %}
                    <span>Logged in as <b>{{ user.username }}</b></span>
                {% endif %}
            </div>
        </header>
        <main class="App-module_game">
            {% block main %}{% endblock %}
        </main>
    </div>
</body>
</html>