<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="App">
        <header class="AppHeader-module_appHeader wordle-app-header">
            <h1 class="AppHeader-module_title">Wordle</h1>
        </header>
        <main class="App-module_game">
            <!-- <p>Solution: {{ status.solution }}</p> -->
            {% if status.won %}
            <div class="Win">
                <h2 class="AppHeader-module_title">You won! Solution: {{ status.solution }}</h2>
            </div>
            {% endif %}
            {% if status.finished and not status.won %}
            <div class="Lose">
                <h2 class="AppHeader-module_title">You lost! Solution: {{ status.solution }}</h2>
            </div>
            {% endif %}
            {% include 'board.html' %}
            {% include 'keyboard.html' %}
        </main>
    </div>
</body>

</html>