{% set keys = [['q', 'w', 'e', 'r', 't','y','u','i','o','p'],['a','s','d','f','g','h','j','k','l'],['z','x','c','v','b','n','m']] %}
<div class="Keyboard-module_keyboard" role="group" aria-label="Keyboard">
    {% for row in keys %}
    <div class="Keyboard-module_row">
        {% if row[0] == 'z' %}
            <button class="Keyboard-module_key" data-state="tbd" onclick="checkWord()">enter</button>
        {% endif %}
        {% for key in row %}
            <button class="Keyboard-module_key" data-state="{{ status.letter_state(key).value }}" onclick="addLetter(this)">{{ key }}</button>
        {% endfor %}
        {% if row[0] == 'z' %}
            <button class="Keyboard-module_key" data-state="tbd" onclick="removeLetter(this)">del</button>
        {% endif %}
    </div>
    {% endfor %}
    <form class="form_button" method="POST" action="{{ url_for('reset') }}">
        <input type="submit" value="reset/new" class="Keyboard-module_key" data-state="tbd">
    </form>
</div>