<html>
<head>
    <title>Wordle</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="App">
        <header class="AppHeader-module_appHeader wordle-app-header">
            <h1 class="AppHeader-module_title">Wordle</h1>
        </header>
        <main class="App-module_game">
            <!-- <p>Solution: {{ status.solution }}</p> -->
            {% if status.won %}
            <div class="Win">
                <h2 class="AppHeader-module_title">You won! Solution: {{ status.solution }}</h2>
            </div>
            {% endif %}
            <div class="Board-module_boardContainer">
                <div class="Board-module_board">
                    {% for i in range(status.num_rows) %}
                    <div class="Row-module_row" aria-label="Row {{i + 1}}">
                        {% for j in range(status.num_columns) %}
                        <div class="Tile-module_tile" aria-label="Tile {{j}}" data-testid="tile" data-state="{{ status.letter_status[i][j].value }}">
                            {% if status.words[i][j] is none %}
                                ''
                            {% else %}
                                {{status.words[i][j]}}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="Keyboard-module_keyboard" role="group" aria-label="Keyboard">
                {% for row in keys %}
                <div class="Keyboard-module_row">
                    {% if row[0] == 'z' %}
                        <a class="Keyboard-module_key" type="button" href="{{ url_for('check_word') }}" data-state="tbd">enter</a>
                    {% endif %}
                    {% for key in row %}
                        <a class="Keyboard-module_key" type="button" href="{{ url_for('add_letter', letter=key) }}" data-state="{{ status.letter_state(key).value }}">{{ key }}</a>
                    {% endfor %}
                    {% if row[0] == 'z' %}
                        <a class="Keyboard-module_key" type="button" href="{{ url_for('remove_letter') }}" data-state="tbd">
                            <svg aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="20"
                                class="game-icon" data-testid="icon-backspace">
                                <path fill="black"
                                    d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H7.07L2.4 12l4.66-7H22v14zm-11.59-2L14 13.41 17.59 17 19 15.59 15.41 12 19 8.41 17.59 7 14 10.59 10.41 7 9 8.41 12.59 12 9 15.59z">
                                </path>
                            </svg>
                        </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </main>
    </div>
</body>

</html>